.Slider {
  display: flex;
  align-items: center;
}

.Slider .Label {
  width: 200px;
  display: block;
  margin-bottom: 3px;
  margin-left: 0.75rem;
  color: #797979;
  font-weight: 600;
  text-transform: uppercase;
}

.Slider.no-label .Label {
  width: initial;
}

/* The switch - the box around the slider */
.Slider .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

/* Hide default HTML checkbox */
.Slider .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.Slider .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #d2d6de;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Slider .slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 1.5px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Slider input:checked + .slider {
  /* background-color: #0ebc97; */
  border-color: #0ebc97;
}

.Slider input:focus + .slider {
  box-shadow: 0 0 1px #0ebc97;
}

.Slider input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #0ebc97;
  border: 1px solid #0ebc97;
  left: -1.5px;
}

/* Rounded sliders */
.Slider .slider.round {
  border-radius: 34px;
}

.Slider .slider.round:before {
  border-radius: 50%;
  border: 1px solid #d2d6de;
}
